.componentTwoContainer{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    align-items: center;
    margin: 6px;
    border: 1px solid #c2c2c2cc;
}

.rowItem{
    padding: 6px;
}